@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .custom__arrow {
    animation: arrowAnimarion 2s infinite;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.title__custom {
  @apply absolute z-20 flex flex-col text-center px-5 text-4xl drop-shadow-2xl text-white font-bold
}

.subtitle__custom {
  @apply text-xl text-orange-500
}

@keyframes arrowAnimarion {
  0% {
    transform: translateY(0);
  }

  70% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes beeAnimation {
  0% {
    transform: translateY(0) translateX(0) scaleX(-1);
  }

  10% {
    transform: translateY(10px) translateX(20px) scaleX(-1);
    ;
  }

  30% {
    transform: translateY(30px) translateX(30px) scaleX(-1);
    ;
  }

  50% {
    transform: translateY(50px) translateX(40px) scaleX(-1);
    ;
  }

  80% {
    transform: translateY(-20px) translateX(-20px) scaleX(-1);
    ;
  }

  100% {
    transform: translateY(0) translateX(0) scaleX(-1);
    ;
  }
}

@keyframes beehiveAnimation {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(1.05);
  }

  50% {
    transform: scale(0.95);

  }

  70% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}